{% load staticfiles %}
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
      {% block title %}
          Hello Web App Project
      {% endblock %}

</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 
<link rel = "stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>

<div id="container"> 

  <div id="header">
    <div class="headtitle">M-DAZR</div>
  </div>

  <div id="menu"> 
    <ul>
      <li><a href="{% url 'home' %}">HOME</a></li>

      <li><a href="{% url 'contact' %}">CONTACT</a></li>

      <li><a href="{% url 'browse' %}">BROWSE</a></li>
      
      <li><a href="{% url 'about' %}">ABOUT US</a></li>


      {% if user.is_authenticated %}
      <li>
          <a href="{% url 'auth_logout' %}"> LOGOUT </a>
      </li>

      {% else %}
      <li>
          <a href="{%url 'auth_login' %}"> LOGIN </a>
      </li>

      <li>
          <a href="{%url 'registration_register' %}"> REGISTER </a>
      </li>        
      {% endif %}
       

    </ul>
  </div>


  <div id="content"> 

    <div id="insidecontent"> <br>
       


      {% block content %}{% endblock %}
     
     
    </div>

    

    <div style="clear: both;"></div>

  </div>



  <div id="footer">
  {% block footer %}{% endblock %}  
  <span>Copyright © All Rights Reserved  </span> 
  </div>

</div>
</body>
</html>