{% extends 'layouts/base.html' %}
{% block title %}Browse - {{ block.super }}{% endblock %}
{% block content %}
<h1>Browse Post{% if initial %} Starting with '{{ initial|title }}'{% endif %}</h1>
{% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
<a href="{% url 'browse_by_title' initial=letter %}" {% if initial == letter %}class="active"{% endif %}>
    {{ letter|upper }}
</a>
{% endfor %}
{% for post in posts %}
<ul>
    <li>
        <a href="{% url 'post_detail' slug=post.slug %}">
            {{ post.name }}
        </a>
    </li>
</ul>
{% empty %}
<p>Sorry, no results!</p> {% endfor %}
{% endblock %}